@mixin button {
    transition: all .1s linear;
    background-color: $button1;
    border: none;
    height: 50px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding: 0 20px;
    letter-spacing: 0.3px;
    &:hover {
        background-color: #50C0CE;
        cursor: pointer;
    }
    &:active {
        background-color: #177985;
    }
}

@mixin heading {
    font-size: 44px;
    font-weight: 500;
    letter-spacing: 1.2px;
    @media(max-width: 576px) {
        font-size: 24px;
        letter-spacing: 0.12px;
    }
}

@mixin text {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: $text1;
}

@mixin text_16 {
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.02em;
    color: $text1;
}

@mixin link {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #2EA0AE;
    position: relative;
    text-decoration: none;
    &:after {
        content: '';
        display: block;
        position: absolute;
        right: -25px;
        top: 6px;
        width: 18px;
        height: 8px;
        background: url(../icons/link_arr.svg) center / cover no-repeat;
    }
}