@import 'base/variables';
@import 'base/mixins';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    transition: all 0.2s;
}
section {
    max-width: 100%;
    overflow: hidden;
}
header {
    max-width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
}
@media(max-width: 1240px) {
    .container {
        max-width: 768px;
        padding: 0 45px;
    }
}
@media(max-width: 576px) {
    .container {
        max-width: 360px;
        padding: 0 15px;
    }
}

@import 'blocks/header';
@import 'blocks/menu';

@import 'blocks/mainscreen-slider';
@import 'blocks/information';

@import 'blocks/fragen';
@import 'blocks/andere-fragen';
@import 'blocks/diagnose';
@import 'blocks/select';
@import 'blocks/slider';

@import 'blocks/datenretter';
@import 'blocks/uber-uns';
@import 'blocks/michel';
@import 'blocks/kundenbewertungen';
@import 'blocks/ablauf';
@import 'blocks/analyse';
@import 'blocks/fragen-tabs';
@import 'blocks/expertenblog';
@import 'blocks/footer';








