.ablauf {
    position: relative;
    margin-top: 70px;
    margin-bottom: -62px;
    padding-bottom: 70px;
    overflow: hidden;
    .container {
        overflow: visible;
    }
    &__decoration {
        width: 100%;
        position: absolute;
        &_1 {
            position: absolute;
            width: 42px;
            height: 42px;
            top: 69px;
            right: 8%
        }
        &_2 {
            position: absolute;
            width: 390px;
            height: 390px;
            top: 165px;
            right: -16.5%
        }
        &_3 {
            position: absolute;
            width: 128px;
            height: 128px;
            top: 712px;
            right: 0;
            left: -2.5%
        }
    }
    h2 {
        @include heading;
    }
    &__wrapper {
        width: 97%;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__block {
        margin-top: 58px;
        max-width: 323px;
        margin-right:35px;
        margin-bottom: 5px;
        img {
            max-width: 100px;
            max-height: 100px;
            margin-bottom: 11px;
            margin-left: -23px;
        }
        p {
            max-width: 300px;
            margin-top: 5px;
            a {
                font-weight: 500;
                color: $button1;
            }
        }
        ul {
            margin-top: 4px;
        }
    }
}

@media(max-width: 1400px) {
    .ablauf {
        &__decoration {
            &_3 {
                display: none;
            }
        }
    }
}
@media(max-width: 1200px) {
    .ablauf {
        &__wrapper {
            
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media(max-width: 1024px) {
    .ablauf {
        margin-top: 33px;
        padding-bottom: 0px;
        h2 {
            margin-left: 8px;
        }
        &__decoration {
            display: none;
        }
        &__wrapper {
            display: flex;

            flex-direction: column;
        }
        &__block {
            max-width: 100%;
            margin: 0;
            margin-top: 15px;
            margin-bottom: 24px;
            img {
                margin: 5px 0 0px 0;
            }
            h3 {
                margin-top: -3px;
                font-size: 24px;
            }
            p {
                max-width: 440px;
                margin-top: 2px;
                a {
                }
            }
            ul {
                list-style: none;
                margin-top: 0px;
                margin-bottom: -6px;
            }
        }
    }    
}
@media(max-width: 767px) {
    .ablauf {
        h2 {
            font-size: 30px;
        }
        margin-bottom: 30px;
    }
}

@media(max-width: 576px) {
    .ablauf {
        margin-top: 36px;
        h2 {
            margin-left: 0px;
            font-size: 24px;
        }
        &__block {
            max-width: 100%;
            margin: 0;
            margin-top: 15px;
            margin-bottom: 15px;
            img {
                margin: 1px 0 4px 0;
            }
            h3 {
                font-size: 20px;
            }
            p {
                margin-top: 14px;
            }
            ul {
                list-style: none;
                margin-top: 0px;
                margin-bottom: -6px;
            }
        }
    }
}