.analyse {
    margin-top: 60px;
    padding-top: 70px;
    height: 390px;
    width: 100%;
    background: url(../../img/microscope.png) center / cover no-repeat;
    &__wrapper {
        h2 {
            @include heading;
            color: white;
        }
        p {
            margin-top: 10px;
            font-size: 24px;
            line-height: 35px;
            letter-spacing: 0.02em;
            color: #EFE9E9;
            width: 584px;
        }
        button {
            margin-top: 30px;
            @include button;
            padding: 16px 24px;
            background-color: #2EA0AE;
        }
    }
}

@media(max-width: 1240px) {
    .analyse {
        margin-top: 22px;
        padding-top: 40px;
        height: 377px;
        background: url(../../img/microscope.png) center / 1024px 503px no-repeat;
        &__wrapper {
            button {
                margin-top: 26px;
            }
        }
    }
}

@media(max-width: 576px) {
    .analyse {
        margin-top: 19px;
        padding-top: 32px;
        height: 306px;
        p {
            width: 327px;
            margin-top: 22px;
            font-size: 16px;
            line-height: 150%;
        }
        &__wrapper {
            button {
                margin-top: 16px;
            }
        }
    }
}