.diagnose {
    position: relative;
    margin-top: 70px;
    width: 100%;
    background: url(../img/background.png) center / cover no-repeat;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 740px;
    }
    .container {
        overflow: visible;
    }
    &__descr {
        margin-left: -40px;
        max-width: 534px;
        min-height: 235px;
        margin-right: 20px;
        color: white;
        h2 {
            color: white;
        }
        p {
            margin-top: 20px;
        }
    }
    &__window {
        z-index: 112;
        min-width: 400px;
        width: 400px;
        min-height: 600px;
        background-color: #fff;
        border-radius: 5px;
        margin-right: 70px;
        padding: 71px 50px 60px 50px;
        h3 {
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.5px;

        }
    }
}

.diagnose-form {
    display: grid;
    flex-direction: column;
    &__hidden {
        display: none;
    }
    &__choice {
        display: none;
    }
    &__circle {
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: white;
        border: 2px solid $button1;
        border-radius: 100%;
        right: 6px;
        top: 6px;
        &_dot {
            transition: all 0.1s linear;
            transform: scale(2.0);
            background-color: rgba(#fff, 0);
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 100%;
        }
    }
    &__select {
        z-index: 200;
        position: relative;
        width: 100%;
        margin: 0 auto; 
        margin-top: 3px;
        margin-bottom: 5px;
    }
    &__switch {
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 7px;
        label {
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-tap-highlight-color: transparent;
            position: relative;
            cursor: pointer;
            padding-top: 10px;
            width: 145px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $background;
            line-height: 34px;
            border: 1px solid $stroke;
            border-radius: 3px;
            user-select: none;
            &:active {
                border-color: $outline;
            }
            span {
                font-weight: 700px;
                font-size: 14px;
                margin-top: -5px;
                color: $text1;
            }
            svg {
                margin-right: -5px;
                width: 24px;
                height: 24px;
                object-fit: cover;
                path {
                    fill: #A1A3C0; 
                }
            }
        }
    }
    input[type=radio]:checked + label {
	    background: #A1A3C0;
        svg {
            path {
                fill: white; 
            }
        }
        span {
            color: white;
        }
        .diagnose-form__circle_dot {
            transform: scale(1.0);
            background-color: $button1;
        }
    }
    input[type=radio]:unchecked + label {
        svg {
            path {
                fill: #A1A3C0; 
            }
        }
        span {
            color: #A1A3C0;
        }
    }
    button {
        margin-top: 18px;
    }
    &__terms {
        margin-top: 11px;
        input {
            &:checked + .diagnose-form__checkbox:before {
                opacity: 0;
            }
            &:checked + .diagnose-form__checkbox:after {
                opacity: 1;
            }
        }
        label {
            position: absolute;
            left: 26px;
            top: 0px;
            margin-left: 3px;
            &::before {
                top: 0px;
            }
        }
    }
}

.diagnose__decoration {
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    &_1 {
        position: absolute;
        top: 25px;
        left: 2%;
    }
    &_2 {
        position: absolute;
        top: 597px;
        left: 39%;
    }
    &_3 {
        position: absolute;
        top: 460px;
        left: 45%;
    }
    &_4 {
        position: absolute;
        top: 92px;
        right: -1.5%;
    }
}
@media(max-width: 1440px) {
    .diagnose__descr {
        padding-left: 40px;
    }
}

@media(max-width: 1200px) {
    .diagnose__decoration {
        &_1 {
            position: absolute;
            top: 15px;
            left: -1px;
            width: 400px;
            height: 400px;
        }
        &_2 {
            width: 45px;
            height: 45px;
            position: absolute;
            top: 195px;
            left: 596px;
        }
        &_3 {
            width: 126px;
            height: 126px;
            position: absolute;
            top: 29px;
            left: 614px;
        }
        &_4 {
            display: none;
        }
    }
    
}


@media(max-width: 1024px) {
    .diagnose {
        .container {
            overflow: visible;
        }
        height: 839px;
        margin-top: 45px;
        &__content {
            flex-direction: column;
            align-items: start;
        }
        &__descr {
            padding-left: 40px;
            max-width: 100%;
            h2 {
                margin-top: 40px;
                font-size: 44px;
            }
            p {
                margin-top: 20px;
                width: 493px;
            }
        }
        &__window {
            margin-top: 28px;
            width: 676px;
            min-height: 456px;
            height: 456px;
            margin-right: 0px;
            overflow: visible;
            padding: 50px 28px;
            h3 {
                width: 444px;
            }
        }
    }
    .diagnose-form {
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 
        "select name-input"
        "mail-input phone-input"
        "switch firma-input"
        "terms submit";
        &__circle {
            display: flex;
        }
        &__switch {
            max-width: 300px;
            grid-area: switch;
            margin: 0;
            padding: 0;
        }
        .select {
            max-width: 300px;
            margin: 0;
            padding: 0;
            grid-area: select;
        }
        &__input {
            max-width: 300px;
            margin: 0;
            &_1 {
                grid-area: firma-input;
            }
            &_2 {
                grid-area: name-input;
            }
            &_3 {
                grid-area: phone-input;
            }
            &_4 {
                grid-area: mail-input;
            }
        }
        &__submit { 
            max-width: 181px;
            justify-self: end;
            grid-area: submit;
            display: block;
        }
        button {
            margin-top: 24px;
        }
        &__terms { 
            margin: 0;
            grid-area: terms;
        }
    }
}




@media(max-width: 767px) {
    .diagnose__decoration {
        &_1 {
            position: absolute;
            top: 20px;
            left: 70px;
            width: 280px;
            height: 280px;
        }
        &_2 {
            width: 38px;
            height: 38px;
            position: absolute;
            top: 40px;
            left: 500px;
        }
        &_3 {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 170px;
            left: 400px;
            z-index: 0;
        }
    }
    .diagnose {
        &__descr {
            z-index: 1;
            padding-left: 0;
            margin: 0 auto;
            h2 {
                width: 470px;
                font-size: 30px;
            }
            p {
                width: 470px;

                font-size: 22px;
            }
        }
        &__window {
            margin: 0;
            align-self: center;
            margin-top: 26px;
            width: unset;
            height: unset;
            min-height: 494px;
            h3 {
                width: unset;
                max-width: 300px;
            }
        }
    }
    .diagnose-form {
        grid-template-areas: 
        "select name-input"
        "mail-input phone-input"
        "switch terms"
        "firma-input submit";
        &__input {
            width: unset;
            max-width: 300px;
        }
        &__switch {
            max-width: 350px;
            width: unset;
            display: grid;
            grid-gap: 16px;
            grid-template-columns: 1fr 1fr;
            margin-bottom: -15px;
            label {
                width: unset;
            }
        }
        #firma-input {
            margin-top: 15px;
        }
        .select {
            max-width: 328px;
        }
        &__submit { 
            width: unset;

        }
        &__terms {
            margin-top: 12px;
            width: unset;
        }
        button {
            width: unset;
            margin-top: 0;
        }
    }
}


@media(max-width: 576px) {
    .diagnose__decoration {
        width: 100%;
        overflow: hidden;
        &_1 {
            display: none;
        }
        &_2 {
            width: 32px;
            height: 32px;
            position: absolute;
            top: 183px;
            right: 32px;
            left: unset;
        }
        &_3 {
            position: absolute;
            top: 12px;
            left: 10px;
            width: 120px;
            height: 120px;
        }
        &_4 {
            display: block;
            width: 96px;
            height: 96px;
            top: 48px;
            right: -30px;
        }
    }
    .diagnose {
        width: 100%;
        background: url(../img/background.png) 0 0 / 100% 240px no-repeat;
        margin-top: 25px;
        margin-bottom: 20px;
        overflow: hidden;
        &__descr {
            margin-left: 0px;
            width: unset;
            margin-bottom: 8px;
            padding-left: 0px;
            max-width: 100%;
            height: 240px;
            h2 {
                width: unset;
                margin-top: 32px;
                font-size: 24px;
                line-height: 130%;
            }
            p {
                width: 257px;
                margin-top: 16px;
                font-size: 16px;
            }
        }
        &__window {
            overflow: visible;
            margin-left: 70px;
            margin-top: 26px;
            width: 328px;
            height: unset;
            min-height: 560px;
            padding: 0px;
            h3 {
                width: 300px;
            }
        }
    }
    .diagnose-form {
        grid-template-columns: 1fr;
        grid-gap: 16px;

        &__input {
            max-width: 328px;
        }
        &__terms {
            margin-top: 1px;
        }
        &__switch {
            margin-bottom: 0px;
            display: flex;
            max-width: 328px;
            label {
                width: 156px;
            }
        }
        .select {
            max-width: 328px;
            margin-bottom: -15px;
        }
        #firma-input {
            margin-top: 15px;
        }
        grid-template-areas: 
        "switch"
        "select"
        "firma-input"
        "name-input"
        "phone-input"
        "mail-input"
        "terms"
        "submit";
        &__submit { 
            width: 328px;
            justify-self: stretch;
        }
        button {
            max-width: 328px;
            margin-left: 0;
            justify-self: stretch;
            margin-top: 3px;
        }
    }
}