.expertenblog {
    padding: 22px 0 73px 0;
    &__wrapper {
        padding-top: 70px;
        border-top: solid 2px #EEEFF4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__descr {
        margin-left: 2px;
        max-width: 562px;
        h2 {
            width: 354px;
        }
        p {
            margin-top: 15px;
        }
    }
    &__michel {
        margin-top: 30px;
        display: flex;
        align-items: center;
        width: 260px;
        img {
            padding-right: 18px;
        }
        h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.03em;
        }
    }
    &__cards {
        max-width: 570px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
    &__link {
        @include link;
        display: block;
        margin-top: -48px;
        width: max-content;
        &:hover {
            color: $hover;
        }
        &:active {
            color: $pressed
        }
    }
    a {
        text-decoration: none;
    }
}

a.expertenblog-block {
    margin-bottom: 32px;
    width: 270px;
    img {
        transition: all 0.2s linear;
        min-width: 270px;
        min-height: 160px;
        border-radius: 3px;
        &:hover {
            opacity: 0.5;
        }
    }
    h4 {
        margin-top: 6px;
        color: #000;  
        text-decoration: none;   
    }
}

@media(max-width: 1200px) {
    .expertenblog {
        &__wrapper {
            flex-direction: column;
        }
        &__descr {
            h2 {
                min-width: 100%;
            }
            max-width: 100%;
        }
        &__cards {
            position: relative;
            max-width: 80%;
            margin: 0 auto;
            margin-top: 40px;
        }
        &__link {
            margin-top: 10px;
        }
    }
    
    a.expertenblog-block {
        margin-bottom: 36px;
        width: 200px;
        overflow: hidden;
        object-fit: contain;
        img {
            object-fit: contain;
            min-width: unset;
            width: 100%;
        }
        h4 {
            margin-top: 5px;
            font-size: 16px; 
        }
    }
}

@media(max-width: 1024px) {
    .expertenblog {
        padding: 0px 0 43px 0;
        h2 {
            margin-top: 0;
            font-size: 44px;
        }
        &__wrapper {
            padding-top: 34px;
            grid-template-columns: 1fr;
        }
        &__descr {
            max-width: 562px;
            p {
                margin-top: 20px;
                margin-left: 3px;
            }
        }
        &__michel {
            margin-left: 3px;
        }
        &__cards {
            width: 100%;
            max-width: 100%;
            margin-top: 40px;
        }
        &__link {
            margin-top: 0px;
            margin-left: 4px;
        }
    }
    
    .expertenblog-block {
        margin-bottom: 36px;
        max-width: 324px;
        min-width: 324px;
        h4 {
            margin-top: 5px;
            font-size: 16px; 
        }
    }
}

@media(max-width: 767px) {
    .expertenblog {
        width: 100%;
        padding: 0px 0 43px 0;
        h2 {
            width: 100%;
            font-size: 30px;
        }
        &__cards {
            width: 100%;
            min-width: 100%;
            display: flex;
            flex-direction: column;
        }
        a.expertenblog-block {
            width: 100%;
            object-fit: cover;

            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
}
@media(max-width: 576px) {
    .expertenblog {
        padding: 10px 0 43px 0;
        &__wrapper {
            flex-direction: column;
        }
        &__descr {
            max-width: 100%;
            p {
                margin-top: 21px;
                margin-left: 0px;
                max-width: 327px;
            }
            h2 {
                max-width: 100%;
                font-size: 24px;
            }
        }
        &__michel {
            margin-left: 0px;
        }
        &__cards {
            margin-top: 33px;
        }
    }
    
    .expertenblog-block {
        h4 {
            margin-top: 14px;
        }
    }
}