.fragen {
    margin-top: 69px;
    &__contents {
        position: relative;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }
}
.fragen-card {
    padding: 0 1px;
    display: flex;
    margin-bottom: 50px;
    &__image {
        border-radius: 5px;
        overflow: hidden;
        width: 370px;
        height: 360px;
        object-fit: contain;
        img{
            object-fit: contain;
            width: 100%;
        }
    }
    &__content {
        padding-top: 15px;
        padding-left: 33px;
        display: flex;
        flex-direction: column;
        align-items: start;
        p {
            max-width: 780px;
            margin-top: 10px;
        }
        a {
            margin-top: 19px;
        }
    }
    &__price {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.33px;
    }
}

@media(max-width: 1200px) {
    .fragen-card {
        &__image {
            min-width: 370px;
            min-height: 360px;
            img{
                width: 370px;
                height: 360px;
            }
        }
    }
}


@media(max-width: 1024px) {
    .fragen {
        h2 {
            font-size: 44px;
        }
        margin-top: 40px;
        &__cards {
            margin-top: 21px;
        }
    }
    .fragen-card {
        margin-bottom: 40px;
        justify-content: start;
        &__disposable {
            display: none;
        }
        &__image {
            min-height: 200px;
            min-width: 200px;
            max-width: 324px;
            max-height: 315px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &__content {
            padding-top: 0px;
            padding-left: 33px;
            p {
                max-width: 331px;
                min-width: 200px;
            }
        }
        &__price {
            margin-top: 9px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.33px;
        }
    }
}

@media(max-width: 767px) {
    .fragen {
        h2 {
            font-size: 30px;
        }
    }
}
@media(max-width: 576px) {
    .fragen {
        h2 {
            font-size: 24px;
        }
        margin-top: 32px;
        &__cards {
            margin-top: 10px;
            margin-bottom: -60px;
        }
        .sl-count {
            display: none;
        }
    }
    .andere-fragen { 
        margin-top: 0px;
        &__text {
            line-height: 153%;
            &_addition {
                line-height: 120%;
                display: initial;
            }
            &_blue {
                margin-left: 0;
                a {
                    padding-left: 8px;
                }
            }
        }
        &__phone {
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            h3 {
                display: none;
            }
            a {
                display: none;
            }
            span {
                display: none;
            }
        }
    }
    .andere-fragen__text_blue {
        line-height: 14px;
        a {
            margin-left: -5px;
            margin-right: 8px;
        }
    }
    .fragen-card {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        &__content {
            padding-top: 0px;
            padding-left: 0px;
        }
    }

}
