.fragen {
    margin-top: 69px;
    h2 {
        font-size: 44px;
        font-weight: 500;
        letter-spacing: 1.2px;
    }
    &__contents {
        position: relative;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }
}

.fragen-card {
    padding: 0 1px;
    display: flex;
    margin-bottom: 50px;
    &__image {
        border-radius: 5px;
        overflow: hidden;
        width: 400px;
        height: 360px;
        object-fit: contain;
        img{
            object-fit: contain;
            width: 100%;
        }
    }
    &__content {
        padding-top: 15px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        h3 {
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.5px;
            margin-bottom: 5px;
        }
        p {
            max-width: 780px;
            margin-top: 10px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.1px;
            color: $text1;
        }
        button {
            margin-top: 19px;
            @include button
        }
    }
    &__price {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.33px;
    }
}

.andere-fragen {
    margin-top: 26px;
    display: flex;
    &__text {
        max-width: 700px;
        letter-spacing: 0.3px;
        font-size: 16px;
        color: $text1;
        line-height: 27px;
        &_blue {
            max-width: 700px;
            letter-spacing: 0.3px;
            font-size: 16px;
            line-height: 27px;
            margin-left: 7px;
            color: $text2;
            font-weight: 700;
            a {
                text-decoration: none;
                max-width: 700px;
                letter-spacing: 0.3px;
                font-size: 16px;
                line-height: 27px;
                margin-left: 7px;
                color: $text2;
                font-weight: 700;
            }
        }
        &_addition {
            display: none;
        }
    }
    &__phone {
        z-index: 2;
        position: relative;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        h3 {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0.36px;
        }
        a {
            font-size: 24px;
            font-weight: 500;
            color: $text2;
            text-decoration: none;
            margin: 8px 0;

        }
        // span {
        //     letter-spacing: 0.36px;
        //     font-size: 16px;
        //     font-weight: 400;
        // }
    }
}

.andere-fragen__decoration{
    z-index: -1;
    position: absolute;
    &_1 {
        position: absolute;
        top: -75px;
        left: -13px;
    }
    &_2 {
        position: absolute;
        top: -51px;
        right: -334px;
    }
}

@media(max-width: 1200px) {
    .andere-fragen__decoration {
        display: none;
    }   
}

@media(max-width: 1024px) {
    .fragen {
        margin-top: 40px;
        &__cards {
            margin-top: 21px;
        }
    }
    .fragen-card {
        margin-bottom: 40px;
        justify-content: start;
        &__disposable {
            display: none;
        }
        &__image {
            max-width: 324px;
            max-height: 315px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &__content {
            padding-top: 0px;
            padding-left: 33px;
            h3 {
                font-size: 16px;
                line-height: 150%;
                margin-bottom: 0px;
            }
            p {
                max-width: 331px;
                
            }
        }
        &__price {
            margin-top: 9px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.33px;
        }
    }
    
    
    .andere-fragen {
        margin-top: -4px;
        display: flex;
        flex-direction: column;
        &__phone {
            margin-top: 3px;
            margin-left: 0px;
            flex-direction: row;
            h3 {
                color: $text1;
                font-size: 16px;
                font-weight: 400;
            }
            &_blue {
                color: $text1;
                font-size: 16px;
                font-weight: 400;
            }
            a {
                font-size: 16px;
                margin: 0 4px 0 4px;
                font-weight: 700;
            }
        }
    }
}

@media(max-width: 576px) {
    .fragen {
        margin-top: 32px;
        h2 {
            font-size: 24px;
            letter-spacing: 0.12px;
        }
        &__cards {
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            margin-top: 16px;
        }
    }
    .fragen-card {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        &__image {
            width: 328px;
            height: 260px;
            margin-bottom: 2px;
        }
        &__content {
            padding-top: 8px;
            padding-left: 0px;
            h3 {
                font-size: 16px;
                line-height: 150%;
                margin-bottom: 0px;
            }
            p {
                max-width: 328px;
                margin-top: 8px;
            }
            button {
                margin-top: 16px;
            }
        }
        &__price {
            margin-left: 1px;
            margin-top: 8px;
        }
    }
    .andere-fragen { 
        margin-top: 105px;
        &__text {
            line-height: 153%;
            &_addition {
                line-height: 120%;
                display: initial;
            }
            &_blue {
                margin-left: 0;
                a {
                    padding-left: 8px;
                }
            }
        }
        &__phone {
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            h3 {
                display: none;
            }
            a {
                display: none;
            }
            span {
                display: none;
            }
        }
    }
    .andere-fragen__text_blue {
        line-height: 14px;
        a {
            margin-left: -5px;
            margin-right: 8px;
        }
    }
}
