.fragen-tabs {
    padding: 70px 0 50px 0;
    border-bottom: solid 2px #EEEFF4;
    h2 {
        @include heading;
        padding-bottom: 49px;
    }
    &__open {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        span {
            position: absolute;
            width: 100%;
            height: 2px;
            display: block;
            background-color: $button1;
            border-radius: 100%;
            top: 8px;
            &:first-child {
                transform: rotate(90deg);
            }
        }
        &_active {
            span {
                transform: rotate(180deg);
                &:first-child {
                    transform: rotate(-0deg);
                }
            }
        }
    }
    &__wrapper {
        width: 100%;
        border: solid 1px #CFD0DF;
        border-radius: 6px;
        margin-bottom: 52px;
        
    }
    &__card {
        position: relative;
        cursor: pointer;
        user-select: none;
        height: min-content;
        width: 100%;
        display: block;
        border: solid 1px #CFD0DF;
        padding: 26px 30px;
        background-color: #fff;
        header {
            position: relative;
            display: flex;
            justify-content: space-between;
            h3 {
                font-weight: 500;
                font-size: 24px;
                line-height: 140%;
                letter-spacing: 0.03em;
            }
        }
        &:first-child {
            border-radius: 5px 5px 0 0;
        }
        &:last-child {
            border-radius: 0 0 5px 5px;
        }
    }
    a {
        @include link;
    }    
}

.fragen-tabs__content {
    display: block;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    max-height: 1000px;
    &_active {
        opacity: 1;
        height: min-content;
    }
    p {
        font-size: 16px;
        line-height: 170%;
        letter-spacing: 0.03em;
        color: $text1;
        margin-top: 8px;
    }
}



@media(max-width: 1240px) {
    .fragen-tabs {
        padding: 39px 0 50px 0;
        &__wrapper {
            margin-bottom: 38px;
            
        }
        h2 {
            padding-bottom: 20px;
        }
        &__card {
            padding: 19px;
            header {
                h3 {
                    font-size: 16px;
                    max-width: 566px;
                }
            }
        }
        a {
            margin-left: 3px;
        }    
    }
    
    .fragen-tabs__content {
        display: block;
        height: 0px;
        overflow: hidden;
        opacity: 0;
        max-height: 1000px;
        &_active {
            opacity: 1;
            height: min-content;
        }
        p {
            font-size: 16px;
            line-height: 170%;
            letter-spacing: 0.03em;
            color: $text1;
            margin-top: 8px;
        }
    }
}

@media(max-width: 576px) {
    .fragen-tabs {
        padding: 65px 0 30px 0;
        &__wrapper {
            margin-bottom: 38px;
        }
        h2 {
            padding-bottom: 34px;
        }
        &__card {
            padding: 15px;
            header {
                h3 {
                    font-size: 16px;
                    max-width: 247px;
                    line-height: 150%;
                }
            }
        }
        a {
            margin-left: 0px;
        }    
    }
}