.information {
    position: relative;
    &__decor {
        &_1 {
            top: 142px;
            left: 199px;
            position: absolute;
        }
        &_2 {
            position: absolute;
            right: 134px;
            top: 44px;
            width: 262px;
            height: 262px;
            
        }
    }
    &__wrapper {
        padding: 69px 0;
        border-bottom: solid 2px $border;
        display: flex;
        justify-content: space-between;
    }
    &__paragraph {
        line-height: 170%;
        max-width: 670px;
        font-size: 16px;
        letter-spacing: 0.2px;
        color: $text1;
        &_blue {
            font-weight: 700;
            color: $text2;
        }
    }
    &__list {
        margin-top: 10px;
        margin-right: 85px;
        li {
            list-style: none;
            position: relative;
            font-size: 16px;
            letter-spacing: 0.2px;
            margin-bottom: 24px;
            &:before {
                display: block;
                position: absolute;
                content: '';
                width: 24px;
                height: 24px;
                background: url(../../icons/сheck.svg) center / contain no-repeat;
                left: -44px;
                top: -4px;
            }
        }
    }
}

@media(max-width: 1240px) { 
    .information {
        &__only-desktop {
            display: none;
        }
        &__decor {
            display: none;
        }
        &__wrapper {
            padding: 40px 0;
            padding-bottom: 19px;
        }
        &__paragraph {
            max-width: 328px;
            &_blue {
                font-weight: 400;
                color: $text1;
            }
        }
        &__list {
            margin-top: 3px;
            margin-right: 69px;
        }
    }
}
@media(max-width: 576px) {
    .information {
        &__wrapper {
            padding-top: 21px;
            flex-direction: column-reverse;
        }
        &__paragraph {
            margin-top: -3px;
            max-width: 328px;
            margin-bottom: 13px;
            &_blue {
                font-weight: 400;
                color: $text1;
            }
        }
        &__list {
            margin-top: 0px;
            margin-right: 0px;
            li {
                margin-left: 44px;
                margin-bottom: 21px;
            }
        }
    }
}