.kundenbewertungen {
    margin-top: 70px;
    background-color: $background;
    padding-bottom: 0px;
    &__wrapper {
        padding-top: 70px;
        justify-content: space-between;
        padding-bottom: 88px;
        width: 100%;
        display: flex;
        position: relative;
    }
    .slick-slide {
        display: flex;
    }
    &__text {
        display: flex;
        flex-direction: column;
        h2 {
            @include heading;
            margin-top: 0px;
        }
        p {
            @include text_16;
            line-height: 170%;
            letter-spacing: 0.03em;
            margin-top: 54px;
            width: 460px;
            position: relative;
            display: block;
            margin-left: 100px;
            &:before {
                content: '';
                position: absolute;
                left: -86px;
                top: -25px;
                width: 55px;
                height: 45px;
                display: block;
                background: url('../icons/quote.svg') center / 55px 45px no-repeat;
            }
        }
    }
    &__name {
        margin-top: 14px;
        display: flex;
        margin-left: 30px;
        width: 100%;
        margin-right: 5px;
        align-self: flex-end;
        h3 {
            width: 169px;
            margin-top: 15px;
            margin-left: 105px;
            margin-right: 25px;
            color: #000;
        }
    }
    &__video {
        margin-top: 143px;
        width: 470px;
        height: 300px;
        video {
            border-radius: 7px;
            width: 470px;
            height: 300px;
        }
    }

    .slick-prev {
        margin-bottom: 10px;
        left: 59.7%;
        background: url(../../icons/arr_white.svg) center / 6px 12px no-repeat;
    }
    .slick-next {
        margin-bottom: 10px;
        right: 33.3%;
        transform: rotate(180deg);
        background: url(../../icons/arr_white.svg) center / 6px 12px no-repeat;
    }
    .slick-arrow {
        cursor: pointer;
        position: absolute;
        z-index: 20;
        bottom: 71px;
        height: 26px;
        width: 26px;
        font-size: 0;
        background-color: $button1;
        border: none;
        border-radius: 3px;
        &:hover {
            background-color: $hover;
        }
        &:active {
            background-color: $pressed
        }
    }
    
}
@media(max-width: 1200px) {

    .kundenbewertungen {
        &__wrapper {
            padding: 50px 60px 40px 0;
        }
        &__text {
            h2 {
                margin-top: 0px;
                font-size: 42px;
            }
            h3 {
                margin-top: 7px;
                font-size: 22px;
            }
            p {
                width: 468px;
                margin-top: 29px;
                margin-left: 5px;
                &:before {
                    display: none;
                }
            }
        }
        &__name {
            margin-left: 0px;
            h3 {
                margin-left: 40px;
            }
        }
        &__video {
            margin-top: 103px;
            width: 321px;
            height: unset;
            video {
                width: 371px;
                height: unset;
            }
        }
        .slick-prev {
            left: 59.5%;
            top: 420px;
        }
        .slick-next {
            right: 31%;
            top: 420px;
        }
    }
}
@media(max-width: 1024px) {
    .kundenbewertungen {
        margin-top: 42px;
        &__wrapper {
            padding-top: 32px;
            padding-bottom: 30px;
            margin-bottom: -10px;
            display: flex;
            flex-direction: column-reverse;
        }
        &__text {
            margin: 0 auto;
            h2 {
                position: absolute;
                top: 39px;
            }
            p {
                margin-top: 69px;
                width: 100%;
                margin-left: 0px;
                &:before {
                    display: none;
                }
            }
        }
        &__name {
            width: 100%;
            margin: 0 auto;
            margin-top: 17px;
            margin-left: 0px;
            margin-right: 0px;
            display: flex;
            justify-content: start;
            h3 {
                min-width: 188px;
                word-wrap: none;
                margin: 0;
                padding: 0;
                font-size: 24px;
                margin-right: 283px;
            }
        }
        &__video {
            margin-top: 142px;
            margin-left: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            height: 356px;
            video {
                width: 556px;
                height: 356px;
            }
        }
    
        .slick-arrow {
            top: 330px;
            width: 42px;
            height: 42px;
            bottom: 611px;
            border: solid 2px $button1;
            border-radius: 3px;
            &:hover {
                border-color: $hover;
            }
        }
        .slick-prev {
            left: 0px;
            background: url(../../icons/link_arr.svg) center / 22px 11px no-repeat;
            transform: rotate(180deg);

            &:hover {
                background: url(../../icons/link_arr_pressed.svg) center / 22px 11px no-repeat;
                background-color: transparent;
            }
        }
        .slick-next {
            right: 0px;
            transform: rotate(0deg);
            background: url(../../icons/link_arr.svg) center / 22px 11px no-repeat;
            &:hover {
                background: url(../../icons/link_arr_pressed.svg) center / 22px 11px no-repeat;
                background-color: transparent;
            }
        }
    }
}
@media(max-width: 767px) {
    .kundenbewertungen {
        h2 {
            font-size: 30px;
            width: 80%;
        }
        p {
            margin-top: 30px;
        }
        &__name {
            margin-top: 20px;
            margin-bottom: 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            h3 {
                margin: 0;
            }
        }
        &__video {
            margin: 0;
            margin-top: 120px;
            padding-left: 10%;
            align-self: center;
            height: 257px;
            width: 400px;
            video {
                height: 257px;
                width: 400px;      
            }
        }
    }
}
@media(max-width: 576px) {
    .kundenbewertungen {
        &__wrapper {
            margin: 0;
            padding: 0;
            height: 1047px;
        }
        &__text {
            margin: 0;
            padding: 0;
            p {
                position: absolute;
                top: 690px;
            }
            h2 {
                font-size: 24px;
                top: 22px;
                width: 100%;
            }
        }
        &__name {
            justify-content: start;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 100px;
            width: 100%;
            flex-direction: row-reverse;
            h3 {
                padding: 0;
                margin: 0;
                margin-right: 0px;
                font-size: 16px;
            }
        }
        &__video {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 132px;
            width: 329px;
            height: 509px;
            video {
                object-fit: cover;
                width: 329px;
                height: 509px;      
            }
        }
        .slick-arrow {
            top: 664px;
            width: 42px;
            height: 42px;
            border: solid 2px $button1;
            border-radius: 3px;
        }
    }
}