.fragen__cards {
    overflow: visible;
    .slick-arrow {
        position: absolute;
        bottom: -72px;
        width: 40px;
        height: 40px;
        font-size: 0;
        background-color: transparent;
        border: 2px solid $button1;
        border-radius: 3px;
        &:hover {
            border: 2px solid $hover;

        }
    }
    .slick-prev {
        left: 0px;
        background: url(../../icons/link_arr.svg) center / 22px 11px no-repeat;
        transform: rotate(180deg);

        &:hover {
            background: url(../../icons/link_arr_pressed.svg) center / 22px 11px no-repeat;
            background-color: transparent;
        }
    }
    .slick-next {
        right: 0px;
        transform: rotate(0deg);
        background: url(../../icons/link_arr.svg) center / 22px 11px no-repeat;
        &:hover {
            background: url(../../icons/link_arr_pressed.svg) center / 22px 11px no-repeat;
            background-color: transparent;
        }
    }
} 

.sl-count {
    display: none;
    position: absolute;
    bottom: -68px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    line-height: 120%;
    color: $text1;
    letter-spacing: 0px;
    &:first-letter {
        font-weight: 700;
        color: $button1;
    }
}
@media(max-width: 576px) {
    .sl-count {
        display: initial;
    }
}