.flash-descr {
    margin-bottom: 30px;
    &__wrapper {
        margin-top: 31px;
        display: flex;
        justify-content: space-between;
        &_1 {
            width: 59%;
            p {
                margin-bottom: 10px;
            }
        }
        &_2 {
            width: 33%;
            display: flex;
            flex-direction: column;
            ul {
                h4 {
                    font-weight: 700;
                    color: #000;
                }
                margin: 10px 0;
                list-style: none;
                li {
                    position: relative;
                    margin-left: 32px;
                    margin-bottom: 14px;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -30px;
                        width: 24px;
                        height: 24px;
                        background: url(../img/datenrettung/festplatte/li.svg) center / cover no-repeat;
                    }
                }
            }
        }
    }
}

.flash-ul-and-img {
    h2 {
        margin-bottom: 30px;
    }
}
.flash-paragraph-and-ul {
    padding-bottom: 70px;
    overflow: visible;
    .paragraph-and-ul__points {
        position: relative;
        img {
            z-index: -2;
            position: absolute;
            width: 268px;
            top: -60px;
            left: -40px;
        }
    }
}


@media (max-width: 1024px) {
    .flash-descr {
        &__wrapper {
            flex-direction: column;
            &_1 {
                width: 100%;
            }
            &_2 {
                width: 100%;
            }
        }
    }
    .flash-paragraph-and-ul {
        .paragraph-and-ul__points {
            img {
                display: none;
            }
        }
        margin-bottom: -70px;
    }
}

@media (max-width: 576px) {
    .flash-ul-and-img {
        .ul-and-img__block-wrapper {
            flex-direction: column;
            margin-bottom: 16px;
        }
        .ul-and-img__img_to-hide {
            display: block;
        }
    }
    .flash-paragraph-and-ul {
        padding-bottom: 0px;
        .paragraph-and-ul__points {
            margin-top: -10px;
            img {
                display: none;
            }
        }
    }
}