.sd-carte-descr {
    margin-bottom: 40px;
    h2 {
        width: 484px;
    }
    &__wrapper {
        margin-top: 31px;
        display: grid;
        &_1 {
            grid-area: block1;
        }
        &_2 {
            grid-area: block2;
        }
        &_3 {
            grid-area: block3;
            img {
                width: 100%;
            }
        }
        grid-template-areas: "block1 block3"
                             "block2 block3";
    }
}

.images-row {
    &__wrapper {
        margin-bottom: 0;
    }
}

.sd-carte-ul-and-img {
    h3 {
        margin-top: 40px;
    }
}

.sd-carte-descr-2 {
    h2 {
        width: 100%;
    }
}

@media(max-width: 1155px) {
    .sd-carte-descr {
        &__wrapper {
            &_2 {
                grid-area: block2;
            }
        }
    }
}

@media(max-width: 1155px) {
    .sd-carte-descr {
        &__wrapper {
            &_2 {
                grid-area: block2;
            }
        }
    }
}

@media(max-width: 1024px) {
    .sd-carte-descr {
        h2 {
            width: 484px;
        }
        &__wrapper {
            margin-top: 31px;
            margin-bottom: 80px;
            grid-gap: 20px;
            &_1 {
                margin-left: 0%;
                margin-bottom: 0;
            }
            &_2 {
                margin-top: 0px;
            }
            grid-template-areas: "block3 block1"
                                 "block2 block2";
        }
    }
}

@media(max-width: 768px) {
    .sd-carte-descr {
        h2 {
            width: 100%;
        }
        &__wrapper {
            width: 100%;
            margin-top: 31px;
            margin-bottom: 80px;
            grid-gap: 20px;
            &_3 {
                min-width: 100%;
            }
            grid-template-areas: "block3"
                                 "block1"
                                 "block2";
        }
    }
}
